@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo(a)!</h1>
    <p>Esse é o projeto feito em aula da Vânia. <strong>Atualizado em: 26/08/2025.</strong></p>
</div>
